h2 Font Picker Ability
ul
    li
        p Show list the cross-platform system fonts;
    li
        p Change example text for better visualization
    li
        p Allow user to select the font;
    li
        p The demo page should demonstrate the font selection where some text on the page changes font

p All Google Fonts was gotten via Google Fonts API. Google Fonts API is well documented. You can find all the necessary information here:
    a(href="https://developers.google.com/fonts/docs/developer_api") google fonts api

h3 Techstack
ul
    li
        a(href="https://angularjs.org/") AngularJS
    li
        a(href="https://material.angularjs.org/latest/") Angular Material
    li
        a(href="https://www.tiny.cloud/") TinyMCE
    li
        a(href="https://developers.google.com/fonts/") Google Fonts:
